/* removing default styles */
*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* light theme */
.light{
    --background-color: #f1f8fc;
    --main-color:#64bcf4;
    --hover-color:#5bacdf;
    --dark-color-one:#312f3a;
    --dark-color-two:#45424b;
    --light-one:#919191;
    --light-two:#aaa;
    
}
/* dark theme */
.dark{
    --background-color: #192e3a;
    --main-color:#64bcf4;
    --hover-color:#5bacdf;
    --dark-color-one:#fff;
    --dark-color-two:#f1f8fc;
    --light-one:#919191;
    --light-two:#aaa;
}
/* big wrapper */
.big-wrapper{
    width:100%;
    min-height: 100vh;
    padding:1.5rem 0px 1.5rem;
    background-color: var(--background-color);
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
/* logo */
.logo img{
    width: 100%;
    width:50px;
}
/* styling the main container inside the header */

 .container{
    max-width: 70rem;
    width:100%;
    margin: auto;
    min-height: 10vh;
    position: relative;
    z-index: 10;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
/* styling the logo */
 .logo{
    display:flex;
    align-items: center;

}
/* logo text */
 h3{
    letter-spacing: 2px;
    color:var(--dark-color-one);

}
/* nav-menu */
 .nav-menu{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}
/* nav item */
 .nav-menu li{
    list-style: none;
}
/* nav-links */
a{
    color:var(--light-two);
    text-decoration: none;
    display:inline-block;
    padding: 7px;
    transition: 1s ease;
    cursor: pointer;
    
}
/* hover effect */
a:hover{
    opacity: 0.8;
    transform: scale(1.1);
    border-bottom: 1px solid #64bcf4;
    
} 
.btn{
    color: white !important;
    background-color:var(--main-color);border-radius: 9px;
    padding:7px 10px !important;
    border-bottom: none !important;
}
.btn:hover{
    transform: scale(1)!important;
}
/* styling the hamburger */
.burger div{
    width:17px;
    height:2px;
    margin:3px;
    background-color:var(--light-one);
}
/* disappearing the hamburger in the desktop view */
.burger{
    display:none;
}


/* showcase/main content area */
.showcase-area .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.person{
    width:100%;
    transform: translate(15%);
}
.text-heading{
    font-size: 18px;
    line-height: 1.3;
    color:var(--dark-color-one);
    text-transform: capitalize;
} 
/* styling the text inside the paragraph tag */
.text{
    line-height: 1.8;
    margin:10px 0px;
    color: var(--dark-color-two);
}
.cbtn .btn{
    box-shadow: 0px 0px 20px var(--dark-color-two);
}
/* styling the button*/
.toggle{
    border-radius: 50%;
    padding:2px;
    text-align: center;
    border:none;
    background-color: #64bcf4;
    width:25px;
    height: 25px;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    line-height:25px;
    color:var(--dark-color-two);
}
.toggle i:nth-child(1){
    display:none;
}
.toggle i:nth-child(2){
    display:none;
}
.dark .toggle i:nth-child(1){
    display:block;
}
.light .toggle i:nth-child(2){
    display:block;
}
/* transition effect */
.transition{
    transition: 2s ease;
}
/* animation slide 1 */
.display-effect{
   animation: appear 1s forwards;

}
@keyframes appear{
    0%{
        clip-path:circle(30% at -25% -25%);
    }
    100%{
        clip-path: circle(150% at 0 0);
    }
}
/* animation slide 2 */
.display-re-effect{
    animation: re-appear 1s forwards;

}

@keyframes re-appear{
    from{
        clip-path:circle(30% at -25% -25%);
    }
    to{
        clip-path: circle(150% at 0 0);
    }
    
}
@media screen and (max-width:700px){
      .nav-menu{
        position:absolute;
        top:10vh;
        right:0;
        margin-right: 0px;
        width:40%;
        display:flex;
        flex-direction:column;
        height: 70vh;
        justify-content: space-around;
        align-items: center;
        background-color: var(--hover-color);
        transform: translateX(500px);
        transition: transform 1s;
    }
    .showcase-area .container{
        display: grid;
        grid-template-columns: 1fr;
        z-index: 0;
        position: relative;  
    }
    a{
        color:#f1f8fc;
    }
    .person{
        width:100%;
        transform: none;
    }
    /* opening harmburger */
    .burger{
        display:block;
    }
    .nav-menu li{
        opacity:0;

    }
    .nav-display{
        transform: translateX(0px);
        top:0;
    }   
     @keyframes nav-item-animate {
         0%{
             opacity:0px;
             transform: translateX(50px);
         }
         100%{
             opacity:1;
             transform: translateX(0px);
         }
         
     }
     /* the closing amburger */
     .toggleHam .line1{
        transform: rotate(130deg);
        position: absolute;
     }
     .toggleHam .line2{
        transform: rotate(49deg);
     }
     .toggleHam .line3{
        display:none;
     }
    }
